body {
  padding-top: 50px;  /* Move body of page below navbar. */
  font-family: "Open Sans", sans-serif;
  color: gray;
}

.page-content {
  padding: 10px;
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto
}
.topimg{
  background-image: url("http://castlehs.k12.hi.us/images/header.jpg");

}

